{% extends 'base.html' %}
{% block content %}
    <article class="aside">
      <h2>Hello, and welcome to my world of wonders.</h2>
      <p>I could go on about my credentials, my schooling, and a hodgepodge of other boring stuff, but I'm not going to. All you need to know about me is that I'm passionate about art, have always been, and have used my art to better the lives of others through color. Let's talk for a bit on creative exploration and its effects on the work. In my mind, there is no such thing as completely mapping out your creative potential. When the muse hits you, it's not with a fan brush, but with a sledgehammer, and splat! You're back on the map. I've tried to explore all types of mediums: clays, polymers, silicons, alcohol ink, and most recently, VR art via the Oculus Rift S. Some of the works on this site are for sale, and some are not. I do work commissions as well, having done a number of portraits of both pets and people. <br>
Thanks for taking the time to visit my artistry. </p>
    </article>
{% endblock %}