<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">Gifting</a>
        <a href="#">For Sale</a>
        <!--TODO: Portfolio
        
        
        Plexi
        Watercolor
        Acrylic
        Sculpture
        Collage
        Gifting-->
        <a href="#">About</a>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>