<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="#">Home</a>
        <a href="#" id="portfolio__link">Portfolio</a>
        <ul class="nav__list" id="portfolio__list">
            <a class="nav__portfolio" href="#"> Watercolor </a>
            <a class="nav__portfolio" href="#"> Plexiglass </a>
            <a class="nav__portfolio" href="#"> Acrylic </a>
            <a class="nav__portfolio" href="#"> Sculpture </a>
            <a class="nav__portfolio" href="#"> Collage </a>
            <a class="nav__portfolio" href="#"> Gifting </a>
        </ul>
        <a href="#">About</a>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <script>
        document.getElementById("portfolio__link").addEventListener("click", () => document.getElementById("portfolio__list").classList.toggle("on"));
    </script>
</body>

</html>