{% extends 'base.html' %}
{% block content %}

        <section class="section__gallery">
            <h2 class="header__gallery">Art</h2>
            {% for folder in folders %}
                {% include '_portfolder.html' %}
            {% endfor %}
        </section>
        <header>
            <h1>John The Artist</h1>
        </header>
        <section class="section__announcements">
            <h3 class="header__announcements">Announcements</h3>
            {% for ann in announcements %}
                {% include '_announcement.html' %}
            {% endfor %}
        </section>
    </main>
{% endblock content %}